<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2026 Baeg Lab.
              


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		<p>We are part of the <a href="https://www.um.edu.mo/">Faculty of Health Science</a> at the<a href="https://www.lmu.de"> University of Macau (UM)</a></p>
		</div>
		<div class="col-sm-4">
		  Contact:<br />
	Room 2010<br />
		  Faculty of Health Sciences (E12)<br />
		  University of Macau (UM), Macau <br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
