<div class="collapse navbar-collapse" id="navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/team/">Team</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/openings/">Vacancies / Openings</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/publications/">Publications</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/research/">Research</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/teaching/">Teaching</a></li>
    <!-- <li><a href="{{ site.url }}{{ site.baseurl }}/pictures/">Pictures</a></li> -->
  </ul>
</div>
