<div class="collapse navbar-collapse" id="navbar-collapse-1">
  <ul class="nav navbar-nav" style="display: flex; justify-content: center; width: 100%; float: none;">
    <li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/team/">Team</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/openings/">Openings</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/publications/">Publications</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/research/">Research</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/teaching/">Teaching</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/fmsa/">FMSA</a></li>
  </ul>
</div>
